<%= form_for(dialogue) do |f| %>
  <% if dialogue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dialogue.errors.count, "error") %> prohibited this dialogue from being saved:</h2>

      <ul>
      <% dialogue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :stirng %>
    <%= f.text_field :stirng %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
