<p id="notice"><%= notice %></p>

<h1>Dialogues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Stirng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dialogues.each do |dialogue| %>
      <tr>
        <td><%= dialogue.title %></td>
        <td><%= dialogue.stirng %></td>
        <td><%= link_to 'Show', dialogue %></td>
        <td><%= link_to 'Edit', edit_dialogue_path(dialogue) %></td>
        <td><%= link_to 'Destroy', dialogue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dialogue', new_dialogue_path %>
